<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/bootstrap.css" />
    <script defer src="./css/bootstrap-5.3.2/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/index.css" />
    <title><%# title%></title>
  </head>

  <body style="display: flex; flex-direction: column; height: 100vh; margin: 0">
    <header class="header"><%- include("./partials/header") %></header>
    <main style="flex: 1">
      <h1>ОШИБКА</h1>
    </main>
    <footer class="footer"><%- include("./partials/footer") %></footer>
  </body>
</html>
